<small>
    <p>
    This is a project by Jeffrey Paul.<br/>

    feedback via email: <a
        href="mailto:sneak@sneak.berlin">sneak@sneak.berlin</a><br/>

    feedback via toot: <a
        href="https://tilde.zone/@sneak">@sneak@tilde.zone</a><br/>

    feedback
        via twitter: <a
            href="https://twitter.com/@sneakdotberlin">@sneakdotberlin</a> <br/>

    <a href="https://github.com/sneak/consoledonottrack.com">
            https://github.com/sneak/consoledonottrack.com</a>
</small>
