<meta charset="UTF-8">
<title>{{ site.title | strip_html}}{% if page.title %}: {{ page.title | strip_html }}{% endif %}</title>
<link
href="/s/css/bootstrap-4.3.1.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/s/css/pygments.css">
<link rel="stylesheet" href="/s/font-awesome-4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/s/css/local.css">
<meta name="author" content="{{ site.author }}">
